# Virtual Environment
vehicle_project/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging
*.egg-info/
src.egg-info/
build/
dist/

# Environment variables
.env

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/